body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    margin: 0;
    padding: 0;
}

.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

.sign-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sign-button:hover {
    background-color: #2980b9;
}
